/* Estilos Globais */
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
li {
  text-decoration: none;
  list-style-type: none;
}
button:focus {
  outline: none !important;
}
.transition-smooth {
  transition: all 0.3s linear;
}
@media only screen and (max-width: 770px) {
  #page-container {
    padding-bottom: 80px;
  }
}
#page-container {
  padding-top: 100px;
}
.pointer {
  cursor: pointer;
}
.main-title {
  margin-bottom: 30px;
}
/* Fim Estilos Globais 6040a6*/

/* Estilo Hamburguer */
.hamburger {
  padding: 11px !important;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-box {
  width: 30px;
}
.hamburger--collapse .hamburger-inner::after {
  top: -14px;
}
/* Fim Estilo Hamburguer */

/* Estilo Card */
  .card {
    padding-bottom: 50;
    min-height: 200px;
    border-radius: 15px !important; 
    margin-bottom: 10px;
  }
/* Fim Estilo Card */
